<div [formGroup]="parentGroup!">
  <div formArrayName="instructions" class="space-y-3">
    <label class="mb-2 font-semibold flex items-center gap-2">
      <i class="pi pi-list-check text-emerald-400"></i>
      Instructions
    </label>

    <div
      *ngFor="let ins of instructions.controls; let i = index"
      class="flex gap-2 items-center"
    >
      <input
        pInputText
        [formControlName]="i"
        placeholder="Instruction"
        class="flex-1"
      />
      <button
        pButton
        icon="pi pi-times"
        type="button"
        severity="danger"
        (click)="removeInstruction(i)"
      ></button>
    </div>

    <div class="pt-2">
      <button
        pButton
        type="button"
        label="Add Instruction"
        icon="pi pi-plus"
        class="bg-emerald-600 hover:bg-emerald-500"
        (click)="addInstruction()"
      ></button>
    </div>
  </div>
</div>
