<p-card class="flex flex-col h-full">
  <!-- Header Image -->
  <ng-template #header>
    <div class="relative w-full h-48 overflow-hidden rounded-lg">
      <button
        [class]="
          'pi ' +
          (recipe.isFavorited ? 'pi-star-fill' : 'pi-star') +
          ' bg-emerald-600 hover:bg-emerald-500 p-1 rounded absolute top-2 right-2 cursor-pointer'
        "
        (click)="onFavorite(recipe)"
      ></button>
      <img
        [alt]="recipe.name"
        [src]="recipe.image"
        class="w-full h-full object-cover"
      />
    </div>
  </ng-template>

  <!-- Title -->
  <ng-template #title>
    <h3 class="text-base font-semibold text-emerald-400 truncate">
      {{ recipe.name }}
    </h3>
  </ng-template>

  <!-- Description -->
  <p class="text-sm flex-1 overflow-hidden line-clamp-3">
    {{ recipe.description }}
  </p>

  <!-- Footer -->
  <ng-template #footer>
    <div class="mt-2">
      <p-button
        label="Details"
        [routerLink]="['/recipe', recipe.id]"
      ></p-button>
    </div>
  </ng-template>
</p-card>
