<div
  class="p-6 max-w-5xl md:max-w-screen mx-auto md:mx-0 flex flex-col md:flex-row md:gap-8"
>
  <div class="hidden xl:block">
    <img
      [src]="recipe?.image"
      [alt]="recipe?.name"
      class="w-full rounded-xl shadow-md object-cover max-h-[900px]"
    />
  </div>
  <div class="flex flex-col">
    <div class="grid md:grid-cols-2 xl:flex xl:flex-col gap-6">
      <div class="block xl:hidden">
        <img
          [src]="recipe?.image"
          [alt]="recipe?.name"
          class="w-full rounded-xl shadow-md object-cover max-h-[400px]"
        />
      </div>
      <div class="flex flex-col justify-between">
        <div>
          <h1 class="text-2xl font-bold text-emerald-500 mb-2">
            {{ recipe?.name }}
          </h1>
          <p class="text-gray-300 mb-4">{{ recipe?.description }}</p>

          <div class="flex items-center gap-2 mb-4">
            <p-rating
              [(ngModel)]="recipe.rating"
              [readonly]="true"
              *ngIf="recipe"
            ></p-rating>
            <span class="text-sm text-gray-400">
              ({{ recipe?.reviewCount }} reviews)
            </span>
          </div>

          <div class="flex flex-wrap gap-2">
            <p-tag
              *ngFor="let tag of recipe?.tags"
              [value]="tag"
              severity="success"
            ></p-tag>
          </div>
        </div>

        <div class="flex gap-4 mt-6">
          <p-button
            [label]="`${recipe?.isFavorited ? 'Favorited' : 'Favorite'}`"
            [icon]="`pi ${recipe?.isFavorited ? 'pi-star-fill' : 'pi-star'}`"
            (onClick)="favorite()"
          ></p-button>
        </div>
      </div>
    </div>

    <p-divider></p-divider>

    <div class="grid sm:grid-cols-2 md:grid-cols-4 gap-6 text-center">
      <div>
        <h4 class="font-semibold">Prep Time</h4>
        <p>{{ recipe?.prepTimeMinutes }} min</p>
      </div>
      <div>
        <h4 class="font-semibold">Cook Time</h4>
        <p>{{ recipe?.cookTimeMinutes }} min</p>
      </div>
      <div>
        <h4 class="font-semibold">Servings</h4>
        <p>{{ recipe?.servings }}</p>
      </div>
      <div>
        <h4 class="font-semibold">Calories</h4>
        <p>{{ recipe?.caloriesPerServing }} kcal</p>
      </div>
    </div>

    <p-divider></p-divider>

    <div class="mb-6 xl:mt-6">
      <h3 class="text-xl font-bold text-emerald-400 mb-2">Ingredients</h3>
      <ul class="list-disc pl-5 space-y-1 text-gray-200">
        <li *ngFor="let ingredient of recipe?.ingredients">
          {{ ingredient }}
        </li>
      </ul>
    </div>

    <div>
      <h3 class="text-xl font-bold text-emerald-400 mb-2">Instructions</h3>
      <ol class="list-decimal pl-5 space-y-2 text-gray-200">
        <li *ngFor="let step of recipe?.instructions">{{ step }}</li>
      </ol>
    </div>
  </div>
</div>
