<div
  class="p-2 md:p-6 mt-20 max-w-5xl md:max-w-screen mx-auto flex flex-col md:flex-row gap-8"
>
  <!-- Image -->
  <div *ngIf="!editMode" class="hidden xl:block">
    <img
      [src]="recipe?.image"
      [alt]="recipe?.name"
      class="w-full rounded-xl shadow-md object-cover max-h-[900px]"
    />
  </div>

  <!-- Details -->
  <div class="flex flex-col mx-auto md:w-full xl:w-[49vw]">
    <app-details-view
      [editMode]="editMode"
      [recipe]="recipe"
      (favoriteToggled)="favorite()"
      (editRequested)="toggleEdit()"
      (deleteRequested)="delete($event)"
    />

    <ng-container *ngIf="editMode && recipeForm">
      <!-- Reactive Form -->
      <form
        [formGroup]="recipeForm"
        class="space-y-8 bg-gray-800 p-6 rounded-lg"
      >
        <!-- Form top side -->
        <div class="grid grid-cols-1 md:grid-cols-2">
          <app-edit-image
            [image]="recipeForm.value.image"
            (imageChange)="onImageUpload($event)"
            (remove)="removeImage()"
          />

          <div class="flex flex-col p-2 justify-between gap-5 md:gap-0">
            <div class="flex flex-col gap-2">
              <app-text-input
                [control]="nameControl"
                label="Title"
                placeholder="Recipe name"
                icon="pi pi-book"
              />
              <!-- Description -->
              <app-textarea-input
                [control]="descriptionControl"
                label="Description"
                placeholder="Describe your recipe"
                icon="pi pi-align-left"
              />
            </div>

            <!-- Timings -->
            <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
              <app-number-input
                [control]="prepTimeControl"
                label="Prep Time"
                icon="pi pi-clock"
              />
              <app-number-input
                [control]="cookTimeControl"
                label="Cook Time"
                icon="pi pi-stopwatch"
              />
              <app-number-input
                [control]="servingsControl"
                label="Servings"
                icon="pi pi-users"
              />
              <app-number-input
                [control]="caloriesPerServingControl"
                label="Calories"
                icon="pi pi-heart"
              />
            </div>
          </div>
        </div>

        <!-- Form bottom side -->
        <div class="flex flex-col gap-6">
          <!-- Ingredients -->
          <app-ingredients-form
            [ingredients]="ingredients"
            (add)="addIngredient()"
            (remove)="removeIngredient($event)"
          ></app-ingredients-form>

          <app-instructions-form
            [instructions]="instructions"
            (add)="addInstruction()"
            (remove)="removeInstruction($event)"
          ></app-instructions-form>

          <!-- Save -->
          <div class="mt-6 flex flex-col md:flex-row gap-4">
            <p-confirmdialog />
            <app-action-button
              [form]="recipeForm"
              label="Save Changes"
              logic="save"
              (save)="save($event)"
            />
            <app-action-button
              [form]="recipeForm"
              label="Cancel Changes"
              severity="danger"
              logic="cancel"
              (cancel)="cancel($event)"
            />
          </div>
        </div>
      </form>
    </ng-container>
    <!-- Pop up notifications -->
    <p-toast
      position="bottom-right"
      [breakpoints]="{ '425px': { width: '90%', right: '5%', left: '5%' } }"
    />
  </div>
</div>
