<section class="p-6 mt-20">
  <div class="p-6 max-w-3xl mx-auto bg-zinc-900 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold text-emerald-400 mb-6">Add New Recipe</h2>

    <form
      [formGroup]="recipeForm"
      (ngSubmit)="addRecipe()"
      class="flex flex-col gap-6"
    >
      <!-- Basic Info -->
      <app-text-input
        [control]="nameControl"
        label="Title"
        placeholder="Recipe name"
        icon="pi pi-book"
      ></app-text-input>

      <app-textarea-input
        [control]="descriptionControl"
        label="Description"
        placeholder="Describe your recipe"
        icon="pi pi-align-left"
      ></app-textarea-input>

      <!-- Dynamic Lists -->
      <app-ingredients-form
        [ingredients]="ingredients"
        (add)="addIngredient()"
        (remove)="removeIngredient($event)"
      ></app-ingredients-form>

      <app-instructions-form
        [instructions]="instructions"
        (add)="addInstruction()"
        (remove)="removeInstruction($event)"
      ></app-instructions-form>

      <app-tags-form
        [tags]="tags"
        (add)="addTag()"
        (remove)="removeTag($event)"
      />

      <app-meal-type-form
        [mealType]="mealType"
        (add)="addMealType()"
        (remove)="removeMealType($event)"
      />

      <!-- Times -->
      <div class="grid grid-cols-2 gap-4">
        <app-number-input
          [control]="prepTimeControl"
          label="Prep Time (minutes)"
          icon="pi pi-clock"
        ></app-number-input>

        <app-number-input
          [control]="cookTimeControl"
          label="Cook Time (minutes)"
          icon="pi pi-stopwatch"
        ></app-number-input>
      </div>

      <!-- Other Details -->
      <div class="grid grid-cols-4 gap-4">
        <app-number-input
          [control]="servingsControl"
          label="Servings"
          icon="pi pi-users"
        ></app-number-input>
        <app-number-input
          [control]="caloriesPerServingControl"
          label="Calories Per Serving"
          icon="pi pi-heart"
        ></app-number-input>
        <app-text-input
          [control]="difficultyControl"
          label="Difficulty"
          icon="pi pi-bolt"
        ></app-text-input>
        <app-text-input
          [control]="cuisineControl"
          label="Cuisine"
          icon="pi pi-globe"
        ></app-text-input>
      </div>

      <!-- Image Upload -->
      <app-image-upload
        [image]="recipeForm.value.image"
        (imageChange)="onImageUpload($event)"
        (remove)="removeImage()"
      ></app-image-upload>

      <!-- Submit -->
      <p-toast position="bottom-right" />
      <p-confirm-dialog />
      <button pButton type="submit" label="Submit Recipe" class="mt-4"></button>
    </form>
  </div>
</section>
